<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokedecks</title>

  <link rel="stylesheet" href="/public/css/style.css">
</head>e.cs

<body>
  <header>
    <h1>Pokedecks</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        {{#if loggedIn}}
          <li><a href="/logout">Logout</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <a href='/new-post'>Post it!</a>
  </footer>

  <!-- JavaScript file  -->

</body>

</html>