<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>PokéDecks</title>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>

  <body class='flex-column'>
    <nav class='navbar'>
      <ul class='flex-row'>
        <li class='nav-li'><a href='/'>Home</a></li>
        <li class='nav-li'><a href='/dashboard'>Dashboard</a></li>
        <li class='nav-li'><a href='#' id='logout'>Logout</a></li>
      </ul>
    </nav>
    <header class='header'>
      <h1 class='main-board'><a href='/deck'> The Pokécenter</a></h1>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer class='footer'>

    </footer>
  </body>

  <script src=''></script>

</html>